.owl-carousel .owl-nav button.owl-prev{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #000b16;
    color: white;
}
.owl-carousel .owl-nav button.owl-next{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: white;
    background-color: #000b16;
}
.card{
    height:400px;
}
.card:hover{
    background: #abebc6;
}


