.navegacion_app:hover{
    background: white;

}
.dropdown-toggle::after {
    display:none;
}
#tamaño{
    font-family: 'Merienda', cursive;
}
#textnacional{
    font-family: 'Damion', cursive;
    font-size: 38px;
    color:#B71C1C;
}

